.common{
    width:80%;
    height:40px;
    margin:0px 10% 0px 10%;
}

.common-button{
    height:40px;
    width:80%;
    border:none;
    margin:3% 10% 10% 10%;
    color: white;
    background-color:black
}

.head{
    margin-top:100px;
}
