<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="../css/login-signup.css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/htmleaf-demo.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.min.js"></script>
    <script src="../js/vue.js"></script>
</head>
<body>

<div id="header">
    <header-nologin></header-nologin>
</div>
<script src="../js/header.js"></script>

<div align="center" class="head">
    <img src="./images/B-signup.jpg" align="center" height="190px" width="170px"/>
    <h2>注册</h2>
    <p>Glad to see you.</p>
</div>
<div>
    <form action="" method="post">
        <div>
            <label class="common">电子邮箱</label><br>
            <input type="text" name="email" class="common"><br><br>
            <label class="common">用户名</label><br>
            <input type="text" name="username" class="common"><br><br>
            <label class="common">密码</label><br>
            <input type="text" name="password" class="common"><br><br>
            <label class="common">重复密码</label><br>
            <input type="text" name="password-repeat" class="common">
            <button class="common-button" type="submit"> 注册 </button>
        </div>
    </form>
</div>

</body>
